<!DOCTYPE html>
<html>
<head>
  <title>VerticaHistory</title>
  <%= stylesheet_link_tag    "vertica_history/application", media: "all" %>
  <%= javascript_include_tag "vertica_history/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
