$popover-arrow-color: #e6e6e6;
$popover-arrow-outer-color: $btn-default-color;

.key-placeholders {
  text-transform: uppercase;

  &.placeholder {
    text-transform: none;
  }

  &::-webkit-input-placeholder {
    text-transform: none;
  }
  &:-moz-placeholder {
    // old firefox versions 4-18
    text-transform: none;
  }
  &::-moz-placeholder {
    text-transform: none;
  }
  &:-ms-input-placeholder {
    text-transform: none;
  }
}

.clear {
  clear: both;
}

.ellipsis {
  @include ellipsis;
}

.errors {
  color: $brand-danger;
}

th {
  width: 10px;
}

.flush {
  padding: 0 !important;
}

.alert p {
  padding-top: 10px;
}

.pagination {
  .page {
    text-align: center;
    padding: 6px;

    border-radius: 4px;
    &.current {
      background-color: $brand-primary;
      color: #fff;
      margin-right: 4px;
      padding: 6px 8px 6px 10px;
    }
  }
  .next, .last {
    margin-left: 5px;
  }
 .prev {
    margin-left: 5px;
  }
 }